name: Unit tests

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        python:
          - "3.11"
          - "3.12"
          - "3.13"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # we need to do a full clone for the tests to work
          fetch-depth: 0
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
        with:
          enable-cache: true
          cache-dependency-glob: pyproject.toml

      - name: Install Python ${{ matrix.python }}
        run: uv python install ${{ matrix.python }}

      - name: test
        run: make test INSTALL_EXTRA=test
